form {
  background-image: url('./books-search.jpeg');
  background-size: 75%;
  width: 100%;
  height: 800%;
  border-radius: 25px;
}

.input-box {
  width: 40%;
  border-radius: 25px;
  margin-left: 20px;
  font-weight: 700;
  font-family: cursive;
}

.submitBtn {
  background-image: url('./pile-of-books.png');
  background-size: 80%;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 30px;
  color: rgb(46, 35, 0);
  font-family: cursive;
  font-size: 14px;
  font-weight: 900;
  padding: .3%;
  
}
