footer {
  margin-top: 30px;
  width: 300%;
  background-image: url('./old-library.jpg');
  background-size: 40%;
  opacity: 50%;
  color: white;
  position: absolute;
  text-align: center;
  bottom: -80px;
}

p {
  text-align: left;
  font-size: x-large;
  font-weight: 800;
  padding-top: .4%;
  padding-left: .3%;
}
